{% extends "core/base.html" %}
{% load static %}
{% block title %}Blog{% endblock %}

{% block content %}

<div class="width600 bottom60 top30">

{% if proceso_list %}                    
{% for proceso in proceso_list %}

<div class="space bottom30">
<div>
	<a href="/proceso/{{ proceso.pk }}/"><img src="../media/{{ proceso.image }}" width="200"></a>
</div>
<div class="left30">
<a href="/proceso/{{ proceso.pk }}/"><b>{{ proceso.title }}</b></a><br>
<span class="font12">{{ proceso.author.first_name }} {{ proceso.author.last_name }} - {{proceso.created|date:"d b Y"}}</span><br>
{{ proceso.content|truncatechars:150 }}
</div>
</div>
{% endfor %}

{% else %}
<p>No hay proceso ingresados</p>
{% endif %} 





</div>

{% endblock %}
